<%- include('../partials/header') %>
  <div class="flight-container">
    <table class="flight-table">
      <thead>
        <tr>
          <th>Airline</th>
          <th>Airport</th>
          <th>Flight Number</th>
          <th>Departure</th>
        </tr>
      </thead>
      <% for (let i = 0; i < flights.length; i++) { %>
        <tbody>
          <tr>
            <td><%- flights[i].airline %></td>
            <td><%- flights[i].airport %></td>
            <td><%- flights[i].flightNo %></td>
            <td><%- flights[i].departs.toLocaleString().slice(0, 11) + flights[i].departs.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %></td>
          </tr>
        </tbody>
      <% } %>
    </table>
  </div>
<%- include('../partials/footer') %>
