<%- include('../partials/header') %>
  <div class="flight-container">
    <table class="flight-table">
      <thead>
        <tr>
          <th>Airline</th>
          <th>Airport</th>
          <th>Flight Number</th>
          <th>Departure</th>
          <th>More Info</th>
        </tr>
      </thead>
      <tbody>
          <% flights.sort((a, b) => a.departs - b.departs).forEach(flight => { %>
            <tr <% if (flight.departs < new Date()) { %> class="late-departure" <%}%>>
              <td>
                <%- flight.airline %>
              </td>
              <td>
                <%- flight.airport %>
              </td>
              <td>
                <%- flight.flightNo %>
              </td>
              <td>
                <%- flight.departs.toLocaleString().slice(0, 11) + flight.departs.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %>
              </td>
              <td>
                <a href="/flights/<%= flight._id %>">More Info</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
    </table>
  </div>
<%- include('../partials/footer') %>
