<%- include('../partials/header') %>
<div class="flight-container-show">
    <div class="flight-container">
        <h2 class="flight-details-h2">Flight Details</h2>
        <table class="flight-table-show">
            <tbody>
                <tr>
                    <td>Airline:</td>
                    <td><%= flight.airline %></td>
                </tr>
                <tr>
                    <td>Airport:</td>
                    <td><%= flight.airport %></td>
                </tr>
                <tr>
                    <td>Flight Number:</td>
                    <td><%= flight.flightNo %></td>
                </tr>
                <tr>
                    <td>Departure:</td>
                    <td><%- flight.departs.toLocaleString().slice(0, 11) + flight.departs.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flight-container-destination-show">
        <h2>Destinations</h2>
        <% if (flight.destinations.length) { %>
            <table>
                <% flight.destinations.forEach(function(d) { %>
                    <tr><%= d.airport %></tr>
                    <tr><%= d.arrival %></tr>
                    <form action="/destinations/<%= d._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                <% }) %>
            </table>
        <% } else { %>
            <h5>No Destinations Yet</h5>
        <% } %>
        
        <form class="flight-table-show" method="POST" action="/flights/<%= flight._id %>/destinations">
            <label>Airport:
                <select name="airport">
                    <option value="AUS">AUS</option>
                    <option value="DFW">DFW</option>
                    <option value="DEN">DEN</option>
                    <option value="LAX">LAX</option>
                    <option value="SAN">SAN</option>
                    <option value="BOS" selected="selected">BOS</option>
                </select>
            </label><br>
            <label>Arrival:
                <input type="datetime-local" name="arrival" min="<%= arrivalDate %>" required>
            </label><br>
            <input type="submit" value="Add Destination" />
        </form>
    </div>
</div>
<%- include('../partials/footer') %>
