<%- include('../partials/header') %>
<div class="flight-container-show">
    <div class="flight-container">
        <h2 class="flight-details-h2">Flight Details</h2>
        <table class="flight-table-show">
            <tbody>
                <tr>
                    <td>Airline:</td>
                    <td><%= flight.airline %></td>
                </tr>
                <tr>
                    <td>Airport:</td>
                    <td><%= flight.airport %></td>
                </tr>
                <tr>
                    <td>Flight Number:</td>
                    <td><%= flight.flightNo %></td>
                </tr>
                <tr>
                    <td>Departure:</td>
                    <td><%- flight.departs.toLocaleString().slice(0, 11) + flight.departs.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flight-container-destination-show">
        <h2>Destinations</h2>
        <% if (flight.destinations.length) { %>
            <% const sortDestinations = flight.destinations.sort((a, b) => a.arrival - b.arrival); %>
            <%# flight.destinations.forEach(function(d) { %>
            <% sortDestinations.forEach(function(d) { %>
                <ul style="background-color: #fff; padding: 5px; margin: revert;">
                    <li>
                        Arrival Time: <%= d.arrival.toLocaleString().slice(0, 11) + d.arrival.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %>
                    </li>
                    <li>
                        Airport: <%= d.airport %>
                    </li>
                </ul>
                <!-- <tr class="destinations-section">
                    <td style="padding-bottom: inherit;">
                        Airport: 
                        <%#= d.airport %>
                    </td>
                </tr> -->
                <!-- <tr>
                    <td>
                        <form action="/destinations/<%#= d._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    </td>
                </tr> -->
            <% }) %>
        <% } else { %>
            <h5>No Destinations Yet</h5>
        <% } %>
        
        <form class="flight-table-show" method="POST" action="/flights/<%= flight._id %>/destinations">
            <label>Airport:
                <select name="airport">
                    <option value="" disabled selected>Select an Airport</option>
                    <% const usedAirports = new Set(); %>
                    <% usedAirports.add(flight.airport); %>
                    <% flight.destinations.forEach(function(d) { %>
                        <% usedAirports.add(d.airport); %>
                    <% }); %>
                    <% const availableAirports = ["AUS", "DFW", "DEN", "LAX", "SAN", "BOS"]; %>
                    <% availableAirports.forEach(function(airport) { %>
                        <% if (!usedAirports.has(airport)) { %>
                            <option value="<%= airport %>"><%= airport %></option>
                        <% } %>
                    <% }); %>
                </select>
            </label><br>
            <label>Arrival:
                <input type="datetime-local" name="arrival" min="<%= arrivalDate %>" required>
            </label><br>
            <input type="submit" value="Add Destination" />
        </form>
    </div>
</div>
<%- include('../partials/footer') %>
